.container {
    position: relative;
    width: 100%;
    height: 100vh;
}



.background-image img {
    padding-top: 70px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.background-image {
    width: 100%; 
    max-width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    

}

.text-container {
    position: absolute;
    top: 60%; 
    right: 47%;
    transform: translateY(-50%);
    color: white;

}

.heading {
    text-align: left;
    padding-left: 40px; 
    color: white; 
    font-size: 5em;

}





