.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 227); 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .primary {
    order: 2;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .primary:hover {
    background-color: transparent; /* Change to transparent on hover */
    color: orange;
  }
  
  .outline {
    order: 1;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: orange;
    border: 2px solid transparent; /* No border by default */
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .outline::before {
    content: '';
    position: absolute;
    bottom: 0; /* Position the line under the text */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the thickness of the line */
    background-color: transparent; /* No background color by default */
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
  }
  
  .outline:hover::before {
    background-color: orange; /* Show background color on hover */
  }
  
  /* Additional styling */
  .button-container {
    display: flex;
    justify-content: center;
    /*padding-top: 3em;*/
 
  }
  
  .outline:hover {
    color: orange;
  }
  